    

    h2 {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
    }


    .button {
        background-color: royalblue;
        color: white;
        border-radius: 5px;
        padding: 5px 25px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 20px;
    }

    


    @media(min-width: 1024px) {
        label {
            width: 50vw;
        }

        .main {
            display: flex;
            width: 70vw;
            max-width: 70vw;
        }

        .rest {
            display: flex;
        }

        .button:hover {
            background-color: rgb(37, 64, 146);
            color: whitesmoke;
        }

        .p {
            padding-right: 120px;
        }

        .homework_2 {
            max-width: 15vw;
        }

        .homework_2:hover {
            background-color: rgb(156, 77, 21);
            color: whitesmoke;
        }
    }


    .homework_2 {
        text-decoration: none;
        color: #fff;
        background-color: chocolate;
        padding: 10px;
        width: 40vw;
        justify-content: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        border: 2px solid black;
        border-radius: 5px;
    }

    .a_href {
        display: flex;
        justify-content: center;
    }